* {
    background-color: rgb(42, 53, 53);
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    text-align: center;
}

body {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: darkgreen;
    color: white;
    height: 50px;
}

nav ul {
    padding: auto;
    display: inline;
}

li {
    display: inline;
    background-color: beige;
}

a:link {
    color: rgb(161, 100, 100);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(65, 49, 52);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(168, 56, 56);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

main {
    background-color: rgb(52, 66, 66);
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 24px;
    padding-block: 10px;
}

h2 {
    color: aliceblue;
    margin: 50px;
    font-size: 18px;
}

/*id and class
id has hashtag
class needs a period
id should be used only once*/

#anotherStyle {
    background-color: orange;
    font-size: 53px;
    color: azure;
}

.more-styles {
    background-color: rgb(80, 0, 34);
}

p {
    font-size: 20px;
    background-color: rgb(44, 39, 34);
    margin: 50px;
}